div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background-image: url("./felt.jpg");
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
}

.Board-Outer {
  background-image: url("./oak.jpg");
  background-repeat: repeat;
  width: 80%;
  aspect-ratio: 1;
  max-height: 80%;
  border-radius: 25px;
  padding: 15px;
}

.Board-Inner {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  width: 100%;
  height: 100%;
}

.Square {
  height: 100%;
  aspect-ratio: 1;
}

.Square-Light {
  background-color: rgba(255, 255, 255, 0.5);
}

.Square-Dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.Checker {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
}

.Checker-red {
  background-color: rgba(255, 0, 0, 0.8);
  border-color: rgba(255, 0, 0, 1);
}

.Checker-black {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

.Checker-destination {
  height: 70%;
  width: 70%;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  /* box-sizing: border-box; */
}
