div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background-image: url("./felt.jpg");
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Modal {
  background-color: black;
  color: white;
  border: solid 4px blue;
  padding: 40px;
  flex-direction: column;
  max-width: 80%;
  border-radius: 25px;
}

.Modal-line {
  margin: 5px;
  text-align: center;
}

.Board-Outer {
  background-image: url("./oak.jpg");
  background-repeat: repeat;
  width: 80%;
  aspect-ratio: 1;
  max-height: 80%;
  border-radius: 25px;
  padding: 15px;
}

.Board-Inner {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  width: 100%;
  height: 100%;
  position: relative;
}

.Square {
  height: 100%;
  aspect-ratio: 1;
}

.Square-Light {
  background-color: rgba(255, 255, 255, 0.5);
}

.Square-Dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.Checker {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.Checker-red {
  background-color: rgba(255, 0, 0, 0.8);
  border-color: rgba(255, 0, 0, 1);
}

.Checker-black {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

.Checker-eligibleDestination {
  height: 70%;
  width: 70%;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.Checker-droppable {
  height: 100%;
  width: 100%;
  background-color: #33cc33;
  border-radius: unset;
  border-width: unset;
  border-style: unset;
  border-color: #33cc33;
  box-shadow: 0 0 10px #33cc33;
}

.Checker-score {
  height: 60px;
  width: 60px;
  font-size: 36px;
  color: white;
}

.Headshot {
  margin: 10px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border: solid 4px black;
}

.Turn-banner {
  margin: 10px;
  height: 100px;
  width: 200px;
  border-radius: 15px;
  font-size: 36;
  font-weight: bold;
}
.Turn-banner-black {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 4px black;
  color: white;
}
.Turn-banner-red {
  background-color: rgba(255, 0, 0, 0.8);
  border: solid 4px red;
  color: white;
}
.Side-space {
  min-width: 240px;
}
.End-column {
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.Button-black {
  background-color: black;
  border: solid 2px black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.Button-red {
  background-color: red;
  border: solid 2px red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.Clickable {
  cursor: pointer;
}
